body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @supports (text-rendering: geometricPrecision) {
    body {
      text-rendering: geometricPrecision;
    }
  }
  
  @font-face {
    font-family: 'babylonica';
    src: url('google fonts/babylonica/Babylonica-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'fredericathegreat';
    src: url('google fonts/fredericathegreat/FrederickatheGreat-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'FredokaOne';
    src: url('google fonts/FredokaOne/FredokaOne-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('google fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Karla';
    src: url('google fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('google fonts/Lato/Lato-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('google fonts/montserrat /Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'OpenSans';
    src: url('google fonts/openSans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Oswald';
    src: url('google fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('google fonts/Quicksand /Quicksand-VariableFont_wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('google fonts/poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('google fonts/roboto/Roboto-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'SassyFrass';
    src: url('google fonts/SassyFrass/SassyFrass-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('google fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'rubik';
    src: url('google fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  }
  
  
  .babylonica {
    font-family: babylonica;
  }
  
  .fredericathegreat {
    font-family: fredericathegreat;
  }
  
  .fredokaone {
    font-family: FredokaOne;
  }
  
  .inter {
    font-family: Inter;
  }
  
  .karla {
    font-family: Karla;
  }
  
  .lato {
    font-family: Lato;
  }
  
  .montserrat {
    font-family: Montserrat;
  }
  
  .openSans {
    font-family: openSans;
  }
  
  .oswald {
    font-family: Oswald;
  }
  
  .quicksand {
    font-family: Quicksand;
  }
  
  .poppins {
    font-family: poppins;
  }
  
  .roboto {
    font-family: roboto;
  }
  
  .sassyfrass {
    font-family: SassyFrass;
  }
  
  .ubuntu {
    font-family: Ubuntu;
  }
  
  .rubik {
    font-family: rubik;
  }