@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-box {
    @apply h-fit min-h-52   font-semibold transition text-dark border-2 p-6 rounded-xl;
  }
}

html {
  font-size: clamp(10px, 1.2vw, 24px);
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr;
}
main {
  overflow-y: auto;
}

.text-section {
  overflow-y: auto;
}

.text-container {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
}

.font-name {
  font-family: Graphic;
}

main .text-container::-webkit-scrollbar {
  width: 0px;

  border-radius: 30rem;
}

/* main .text-container::-webkit-scrollbar-thumb {
    background: linear-gradient(mediumpurple, orange);
    border-radius: 2rem;
}
 */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

#testInput {
  background: #f5f5f5;
  color: #444;
  font-size: 0.91rem;
  font-weight: 600;
}

#testInput::placeholder {
  color: #666;
  font-size: 0.91rem;
  font-weight: 600;
}

.mask-bottom {
  /* mask: linear-gradient(to top, #0000 1%, #000 30%); */
}

/* ul li button {
  transition: 300ms;
  font-weight: 600;
  background: grey;
  outline: 0;
  border: 0;
  scale: 0.95;
} */

button {
  font-weight: 600;
}

ul li button:hover:not(#save),
ul li button:focus:not(#save) {
  --tw-shadow: 0 25px 40px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 12px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  background: #f5f5f5;
}

.text-box {
  box-shadow: 0 0 1rem 0rem  lavender;
  position: relative;
  overflow: hidden;
  /* scale: 1; */
  /* isolation: isolate; */
  background: hsl(0, 0%, 100%);

}

.text-box::before {
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: linear-gradient(45deg, orange, red);
  transition: 1s;
  scale: 3;
  border-radius: 50%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

.text-box:hover {
  box-shadow: 0 0 .5rem 0rem  lavender;
  background: hsl(0, 0%, 100%, 0.5);
  color: #111111 !important;
  /*box-shadow: 0px 0px 0rem 0.15rem #545454;
     */
}

.text-box:hover::before{
  height: 100%;
  width: 100%;

  rotate: 1turn;
}

button:hover {
  /* background: #454545 !important; */
  /* color: #f4f4f4; */
}

ul li:hover button {
  transition: background-color 100ms, animation 500ms;
  animation: 100ms ease scale-left;
  -webkit-transition: background-color 100ms, animation 500ms;
  -moz-transition: background-color 100ms, animation 500ms;
  -ms-transition: background-color 100ms, animation 500ms;
  -o-transition: background-color 100ms, animation 500ms;
}

@keyframes scale-left {
  to {
    transform: scale3d(0.95, 1, 0.95);
  }
}
